
@{
    ViewBag.Title = "SubLink";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}


<body ng-app="myapp" ng-controller="mainController" class="single single-post postid-85226 single-format-standard blog-body" ng-class="bodyClass">

    <div id="content-wrap" class="cw-single">
        <div id="content" ui-view="mainView" autoscroll="false">

            <div class="article-area content-block">
                <div class="article-entry-wrap">
                    <div class="article-entry">
                        <!--Phan van ban-->
                        <div class="article-block article-top-block">
                            <img width="2780" height="1529" src="~/img/mobile-featured.jpg" class="ft-inner-img wp-post-image" alt="mobile-featured" id="ft-inner-image" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/mobile-featured.jpg 2780w, http://netdna.webdesignerdepot.com/uploads/2016/09/mobile-featured-300x165.jpg 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/mobile-featured-768x422.jpg 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/mobile-featured-1024x563.jpg 1024w" sizes="(max-width: 2780px) 100vw, 2780px" />

                            <div class="atb-text-wrap">
                                <div class="atb-text">
                                    <div class="in-meta">
                                        <a data-tooltip="See all posts related to Design" class="category" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/category/design/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/category/design/%27" tppabs="http://www.webdesignerdepot.com/category/design/">Design</a>
                                    </div>
                                    <h1 id="wdd-inner-article-title" class="new-single-title"> Is mobile app UI design a complete waste of time and money?  </h1>

                                    <div class="post-pub-info">

                                        <!--<div class="ppi-time"></div>-->
                                        <div class="ppi-author">
                                            <div class="ppis">
                                                <a class="auth-ava-lnk" data-tooltip="Articles by Tuan Anh" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/author/Ben-Bate  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/author/Ben-Bate%27" tppabs="http://www.webdesignerdepot.com/author/Ben-Bate"><img alt='' src="~/img/6de41c35ca9c2753ae74f649106d06e3-s=36&d=mm&r=g.png" tppabs="http://0.gravatar.com/avatar/6de41c35ca9c2753ae74f649106d06e3?s=36&d=mm&r=g" srcset='http://0.gravatar.com/avatar/6de41c35ca9c2753ae74f649106d06e3?s=72&amp;d=mm&amp;r=g 2x' class='avatar avatar-36 photo' height='36' width='36' /></a>
                                                <span>
                                                    By <a data-tooltip="Articles by Tuan Anh" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/author/Ben-Bate  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/author/Ben-Bate%27" tppabs="http://www.webdesignerdepot.com/author/Ben-Bate">
                                                        Tuan Anh
                                                    </a>
                                                </span>
                                                <span class="ppi-dot">•</span>

                                                <span class="ppi-time-label"><span class="ptl-wrd">Posted</span> 4 days ago</span>
                                                <span class="ppi-dot">•</span>
                                                <span>Reading time: 2 minutes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div id="feat-post-img" style="background-image: url({{ article.ft_image }}); background-position: 50% 0">-->

                        </div>
                        <!--Phan lien ket-->
                        <div class="article-block-wrap white">

                            <div class="article-block white">




                                <div id="article-sticky-stuff">

                                    <div class="sticky-shares-wrap">
                                        <div class="sticky-shares">





                                            <div class="post-share-row psr-color">
                                                <a onclick="openFbShare(this)" href="javascript:void(0);" data-url="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" data-href="index.htm" tppabs="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" class="psi-lnk psi-fb">
                                                    <span class="p-share-icon icon-facebook"></span>

                                                </a>
                                            </div>

                                            <div class="post-share-row psr-color">
                                                <a href="javascript:if(confirm(%27https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.webdesignerdepot.com%2F&via=designerdepot&text=Is+mobile+app+UI+design+a+complete+waste+of+time+and%C2%A0money%3F&source=tweetbutton&url=http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed using an unsupported protocol (e.g., gopher).  \n\nDo you want to open it from the server?%27))window.location=%27https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.webdesignerdepot.com%2F&via=designerdepot&text=Is+mobile+app+UI+design+a+complete+waste+of+time+and%C2%A0money%3F&source=tweetbutton&url=http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/%27" tppabs="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.webdesignerdepot.com%2F&via=designerdepot&text=Is+mobile+app+UI+design+a+complete+waste+of+time+and%C2%A0money%3F&source=tweetbutton&url=http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" onclick="return openTwShare(this); return false;" class="psi-lnk psi-tw"><span class="p-share-icon icon-twitter"></span>  <label></label> </a>
                                            </div>

                                            <div class="post-share-row psr-color">
                                                <a href="javascript:;" data-url="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" onclick="openGplusg(this);" class="psi-lnk psi-gplus">
                                                    <span class="p-share-icon"></span>
                                                </a>
                                            </div>

                                            <div class="post-share-row">
                                                <a href="#comments_section" class="psi-lnk psi-service scroll-to"><span class="p-share-icon icon-comment-1"></span></a>
                                            </div>

                                            <div class="post-share-row">

                                                <a href="javascript:window.print()" class="psi-lnk psi-service"><span class="p-share-icon icon-print"></span></a>
                                            </div>

                                            <div class="post-share-row">
                                                <a href="mailto:?subject=Check out this article: Is mobile app UI design a complete waste of time and money?&body=http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" class="psi-lnk psi-service"><span class="p-share-icon icon-mail-alt"></span></a>
                                            </div>






                                        </div> <!-- sticky-shares -->
                                    </div>



                                </div>

                                <div class="entry entry-content-wrap">





                                    <article class="entry-content article-content">
                                        <p class="single-first-p">More and more companies are constantly chopping and changing their design direction and user interface in a battle to stand out. Many are employing large teams of user interface designers to work on pretty simple products. When it comes to mobile apps, user interface design is little more than a marketing gimmick.</p>
                                        <div class="finline-large"><img class="alignnone size-full wp-image-85229 image-border" src="~/img/graphic-wdd.png" alt="graphic-wdd" width="1856" height="1280" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/graphic-wdd.png 1856w, http://netdna.webdesignerdepot.com/uploads/2016/09/graphic-wdd-300x207.png 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/graphic-wdd-768x530.png 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/graphic-wdd-1024x706.png 1024w" sizes="(max-width: 1856px) 100vw, 1856px" /></div>
                                        <p>As it stands, a typical workflow for creating an app would look something like this:</p>
                                        <ol>
                                            <li>Developing Concept</li>
                                            <li>Mapping App Screens</li>
                                            <li>Producing Wireframes</li>
                                            <li>Refining UX</li>
                                            <li>Designing UI</li>
                                            <li>Developing Product</li>
                                        </ol>
                                        <div class="finline-large"><img class="alignnone size-full wp-image-85230" src="~/img/1-wdd.png" tppabs="http://netdna.webdesignerdepot.com/uploads/2016/09/1-wdd.png" alt="1-wdd" width="1856" height="1280" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/1-wdd.png 1856w, http://netdna.webdesignerdepot.com/uploads/2016/09/1-wdd-300x207.png 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/1-wdd-768x530.png 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/1-wdd-1024x706.png 1024w" sizes="(max-width: 1856px) 100vw, 1856px" /></div>
                                        <p><em>Google Material Design Guidelines</em></p>
                                        <p>The advanced and highly-detailed style guides that we now receive from Google and Apple lead me to question just why the user interface design phase requires a designer, or is even relevant at all. If the guidelines are there to be closely adhered to, is there really the need to add any significant creative input? The style and parameters are already defined by the guidelines. And sure, apps need assets such as icons, but why don’t all apps on a single platform just use the same set?</p>
                                        <p>Apps across a platform would be far more consistent if the desire to visually differentiate from the next app was suppressed. As I see it, companies are viewing each app as a unique separate entity. I’d argue that it should simply be the operating system that is the entity. All apps within the system should be absolutely consistent.</p>
                                        <p>There is a real lack of consistency across iOS and particularly Android .  Some apps use back arrows, some use hamburger menus, some use icons, and some use text navigation. Some even use the same navigation on Android as on iOS. Apps often try to come up with new and exciting ways to navigate, but it does little more than add to the confusion of the overall OS for the user. Then there’s the case of using a multitude of styles that are wholly inconsistent with one another.</p>
                                        <div class="finline-large"><img class="alignnone size-full wp-image-85232 image-border" src="~/img/2-wdd.png" tppabs="http://netdna.webdesignerdepot.com/uploads/2016/09/2-wdd.png" alt="2-wdd" width="1856" height="1280" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/2-wdd.png 1856w, http://netdna.webdesignerdepot.com/uploads/2016/09/2-wdd-300x207.png 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/2-wdd-768x530.png 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/2-wdd-1024x706.png 1024w" sizes="(max-width: 1856px) 100vw, 1856px" /></div>
                                        <p><em>Canopy for Android</em></p>
                                        <p>I believe there’s too much creative input, and it’s getting in the way of experiencing a consistent experience across an entire system. If we look through <a href="javascript:if(confirm(%27https://medium.com/r/?url=http%3A%2F%2Fandroidniceties.tumblr.com  \n\nThis file was not retrieved by Teleport Pro, because it is addressed using an unsupported protocol (e.g., gopher).  \n\nDo you want to open it from the server?%27))window.location=%27https://medium.com/r/?url=http%3A%2F%2Fandroidniceties.tumblr.com%27" tppabs="https://medium.com/r/?url=http%3A%2F%2Fandroidniceties.tumblr.com" class="external" rel="nofollow">Android Niceties</a>, the scale of the issue with consistency becomes apparent.</p>
                                        <p>The app user interface itself should be fairly mundane if usability is to be at its best. After all, it’s there as a way to view data and content, and navigate screens and elements. The differentiation should come in the branding — colors, icons, imagery — not through constantly switching up guideline styles, fonts, and layouts.</p><p class="fixed-empty-p">&nbsp;</p><h2>We’ll use Android to compare two examples</h2>
                                        <div class="finline-large"><img class="alignnone size-full wp-image-85233 image-border" src="~/img/3-wdd.png" tppabs="http://netdna.webdesignerdepot.com/uploads/2016/09/3-wdd.png" alt="3-wdd" width="1856" height="1280" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/3-wdd.png 1856w, http://netdna.webdesignerdepot.com/uploads/2016/09/3-wdd-300x207.png 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/3-wdd-768x530.png 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/3-wdd-1024x706.png 1024w" sizes="(max-width: 1856px) 100vw, 1856px" /></div>
                                        <p><em>YouTube for Android</em></p>
                                        <p>Google’s latest iteration of the YouTube app is a perfect example of using the style guide effectively. The icons are default, there is a single easy-to-use navigation, and the contrast and colors are on point. It avoids unnecessary gimmicks and additions to the user interface, and maintains an experience in line with the system itself.</p>
                                        <div class="finline-large"><img class="alignnone size-full wp-image-85234 image-border" src="~/img/4-wdd.png" tppabs="http://netdna.webdesignerdepot.com/uploads/2016/09/4-wdd.png" alt="4-wdd" width="1856" height="1280" srcset="http://netdna.webdesignerdepot.com/uploads/2016/09/4-wdd.png 1856w, http://netdna.webdesignerdepot.com/uploads/2016/09/4-wdd-300x207.png 300w, http://netdna.webdesignerdepot.com/uploads/2016/09/4-wdd-768x530.png 768w, http://netdna.webdesignerdepot.com/uploads/2016/09/4-wdd-1024x706.png 1024w" sizes="(max-width: 1856px) 100vw, 1856px" /></div>
                                        <p><em>Snapchat for Android</em></p>
                                        <p>A poor example would be Snapchat. It does very little in the way of adhering to Material guidelines, and instead appears more interested in standing out visually, and applying their brand throughout the app. It is dissimilar to any other app and is entirely ill-fitting on the Android OS. There is very little to differentiate between this and the iOS counterpart. As much a UX issue as a UI issue, it’s a prime example of disregarding the guidelines and the user in the desire to be unique.</p>
                                        <p>Unspecific to Snapchat, I’m intrigued when I see the size of design teams working on the simplest of apps. When you have 10, 20, 30+ user interface designers all working full-time on a mobile app with two or three main screens, the question has to be asked whether it’s healthy for the end user. This constant drifting away from system guidelines, and changing of styles, has little benefit and could be entirely avoided. It would reduce timescales, efficiency, and cost.</p>
                                        <p>I believe many startups and established companies oversee this and it turns almost into a design popularity contest. The user interface becomes a marketing gimmick, which is far from its purpose.</p>
                                        <p>User interface designers should be creating styles for systems as a whole, and limiting individual app creative input to branding, marketing, advertising, and landing pages. This way, mobile operating systems will become far more cohesive and in the end that will benefit the only person that matters: the user.</p>

                                    </article>



                                    <div class="post-author-bio">

                                        <h2 class="post-author-name"> By Anh Tuấn  </h2>



                                        <div class="author-bio-text">I'm Anh, a visual & UI/UX designer. You can follow me on <a href="https://www.facebook.com/Macursfenix">FaceBook</a>.        by Tuấn Anh  </div>

                                        <img alt='' src="~/img/noavatar92.7b2fde640943965cc88df0cdee365907.png" srcset='http://0.gravatar.com/avatar/6de41c35ca9c2753ae74f649106d06e3?s=228&amp;d=mm&amp;r=g 2x' class='avatar avatar-114 photo' height='114' width='114' />

                                    </div>



                                    <div id="comments_section">
                                        <div id="disqus_thread"></div>
                                        <script type="text/javascript">
                                var disqus_shortname = "webdesignerdepot";
                                var disqus_title = "Is mobile app UI design a complete waste of time and money?";
                                var disqus_url = "index.htm"/*tpa=http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/*/;
                                var disqus_identifier = "webdesignerdepot-85226";
                                        </script>
                                        <script>

                                (function() {  // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');

                                s.src = 'embed.js'/*tpa=http://webdesignerdepot.disqus.com/embed.js*/;

                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                                        </script>

                                    </div>

                                </div>
                                <div class="inner-post-sb-wrap">
                                    <div class="inner-post-sb">
                                        <div class="hp-pop-posts">


                                            <div class="bsads-300">
                                                <div id="bsap_684" class="bsaPROrocks" data-serve="CA7DK"></div>
                                            </div>


                                            <h2 class="popular-posts-title"><span>Popular posts</span></h2>


                                            <div class="popular-posts-wdd">
                                                <div class="popular-post-wdd">
                                                    <span class="pop-img-stub" style="background-image: url(featured_linkedin-300x165.jpg);">
                                                    </span>
                                                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/%27" tppabs="http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/" class="pop-img-link"></a>

                                                    <div class="pop-post-info">

                                                        <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/%27" tppabs="http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/" class="spr-number" data-num="1"></a>

                                                        <h2 class="popular-post-title">
                                                            <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/%27" tppabs="http://www.webdesignerdepot.com/2016/09/linkedin-announces-a-new-online-platform/" class="sb-pop-post-lnk"> LinkedIn announces a new online platform       </a>
                                                        </h2>
                                                    </div>



                                                </div>
                                                <div class="popular-post-wdd">
                                                    <span class="pop-img-stub" style="background-image: url(Untitled-300x165.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/09/Untitled-300x165.jpg*/;">
                                                    </span>

                                                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/%27" tppabs="http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/" class="pop-img-link"></a>
                                                    <div class="pop-post-info">

                                                        <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/%27" tppabs="http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/" class="spr-number" data-num="2"></a>

                                                        <h2 class="popular-post-title">

                                                            <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/%27" tppabs="http://www.webdesignerdepot.com/2016/09/mozillas-rebrand-reaches-the-final-four/" class="sb-pop-post-lnk">
                                                                Mozilla’s rebrand reaches the final four
                                                            </a>
                                                        </h2>


                                                    </div>



                                                </div>
                                                <div class="popular-post-wdd">




                                                    <span class="pop-img-stub"
                                                          style="background-image: url(mobile-featured-300x165.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/09/mobile-featured-300x165.jpg*/;">
                                                    </span>

                                                    <a href="index.htm" tppabs="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" class="pop-img-link"></a>


                                                    <div class="pop-post-info">

                                                        <a href="index.htm" tppabs="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" class="spr-number" data-num="3"></a>

                                                        <h2 class="popular-post-title">

                                                            <a href="index.htm" tppabs="http://www.webdesignerdepot.com/2016/09/is-app-ui-design-a-complete-waste-of-time-and-money/" class="sb-pop-post-lnk">
                                                                Is mobile app UI design a complete waste of time and money?
                                                            </a>
                                                        </h2>


                                                    </div>



                                                </div>
                                                <div class="popular-post-wdd">




                                                    <span class="pop-img-stub"
                                                          style="background-image: url(brutal-1-300x160.png)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/09/brutal-1-300x160.png*/;">
                                                    </span>

                                                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/%27" tppabs="http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/" class="pop-img-link"></a>


                                                    <div class="pop-post-info">

                                                        <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/%27" tppabs="http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/" class="spr-number" data-num="4"></a>

                                                        <h2 class="popular-post-title">

                                                            <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/%27" tppabs="http://www.webdesignerdepot.com/2016/09/why-brutalism-boosts-conversions/" class="sb-pop-post-lnk">
                                                                Why brutalism boosts conversions
                                                            </a>
                                                        </h2>


                                                    </div>



                                                </div>
                                                <div class="popular-post-wdd">




                                                    <span class="pop-img-stub"
                                                          style="background-image: url(featured_folios-300x165.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/09/featured_folios-300x165.jpg*/;">
                                                    </span>

                                                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/%27" tppabs="http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/" class="pop-img-link"></a>


                                                    <div class="pop-post-info">

                                                        <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/%27" tppabs="http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/" class="spr-number" data-num="5"></a>

                                                        <h2 class="popular-post-title">

                                                            <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/%27" tppabs="http://www.webdesignerdepot.com/2016/09/the-best-new-portfolio-sites-september-2016/" class="sb-pop-post-lnk">
                                                                The best new portfolio sites, September 2016
                                                            </a>
                                                        </h2>


                                                    </div>



                                                </div>
                                            </div>

                                            <div id="sb-bsap-rects-ads">
                                                <h2 class="popular-posts-title"><span>Sponsors</span></h2>
                                                <div id="bsap_660" class="bsaPROrocks" data-serve="CA7DV"></div>

                                                <div id="absap_125x125">
                                                    <div id="bsap_2050" class="bsaPROrocks" data-serve="C6YIC53L"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- sidebar -->
                                <footer class="after-entry-wrap">

                                    <div class="aew-block">

                                        <div class="related-posts-section" id="related-posts-section">

                                            <div class="rhis">

                                                <div class="rhi-left">
                                                    <div class="ac-wrap">
                                                        <div class="asection-title">
                                                            <div class="as-line"></div>
                                                            <span>Featured freebies</span>
                                                        </div>
                                                    </div>


                                                    <div class="related-horizontal-items-wrap">

                                                        <div class="related-horizontal-items">

                                                            <div class="related-horizontal-item">
                                                                <div class="related-horizontal-content">

                                                                    <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/03/free-download-venice-serif-font/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/03/free-download-venice-serif-font/%27" tppabs="http://www.webdesignerdepot.com/2016/03/free-download-venice-serif-font/">
                                                                        <span class="hpi-wrap">
                                                                            <span class="horizontal-post-img-w" style="background-image: url(featured_venice-1024x563.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/03/featured_venice-1024x563.jpg*/"></span>
                                                                        </span>

                                                                        <span class="hpi-text"><span class="hpi-title">Free download: Venice Serif font</span></span>
                                                                    </a>
                                                                </div>
                                                            </div>


                                                            <div class="related-horizontal-item">
                                                                <div class="related-horizontal-content">

                                                                    <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/06/free-download-comprehensive-stationery-mockup/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/06/free-download-comprehensive-stationery-mockup/%27" tppabs="http://www.webdesignerdepot.com/2016/06/free-download-comprehensive-stationery-mockup/">
                                                                        <span class="hpi-wrap">
                                                                            <span class="horizontal-post-img-w" style="background-image: url(featured_stationery-1024x563.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/06/featured_stationery-1024x563.jpg*/"></span>
                                                                        </span>

                                                                        <span class="hpi-text"><span class="hpi-title">Free download: Comprehensive stationery mockup</span></span>
                                                                    </a>
                                                                </div>
                                                            </div>


                                                            <div class="related-horizontal-item">
                                                                <div class="related-horizontal-content">

                                                                    <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2015/11/free-download-100-best-picjumbo-images/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2015/11/free-download-100-best-picjumbo-images/%27" tppabs="http://www.webdesignerdepot.com/2015/11/free-download-100-best-picjumbo-images/">
                                                                        <span class="hpi-wrap">
                                                                            <span class="horizontal-post-img-w" style="background-image: url(featured_picjumbo-1024x503.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2015/11/featured_picjumbo-1024x503.jpg*/"></span>
                                                                        </span>

                                                                        <span class="hpi-text"><span class="hpi-title">Free download: 100 best picjumbo images</span></span>
                                                                    </a>
                                                                </div>
                                                            </div>


                                                            <div class="related-horizontal-item">
                                                                <div class="related-horizontal-content">

                                                                    <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/07/free-download-20-food-images-from-picjumbo/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/07/free-download-20-food-images-from-picjumbo/%27" tppabs="http://www.webdesignerdepot.com/2016/07/free-download-20-food-images-from-picjumbo/">
                                                                        <span class="hpi-wrap">
                                                                            <span class="horizontal-post-img-w" style="background-image: url(featured_picjumbo-1024x563.jpg)/*tpa=http://netdna.webdesignerdepot.com/uploads/2016/07/featured_picjumbo-1024x563.jpg*/"></span>
                                                                        </span>

                                                                        <span class="hpi-text"><span class="hpi-title">Free download: 20 food images from PicJumbo</span></span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>



                                                    </div>




                                                </div>


                                                <div class="rhi-right">

                                                    <div id="hot-deals-section" class="inner_related_posts">

                                                        <div class="ac-wrap">
                                                            <div class="asection-title">
                                                                <div class="as-line"></div>
                                                                <span>Hot deals</span>
                                                            </div>
                                                        </div>

                                                        <div class="related-horizontal-items-wrap">
                                                            <div class="related-horizontal-items">

                                                                <div class="related-horizontal-item">
                                                                    <div class="related-horizontal-content">

                                                                        <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.mightydeals.com/deal/the-beautiful-handwritten-fonts-bundle.html?ref=wdd-hotdeals  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.mightydeals.com/deal/the-beautiful-handwritten-fonts-bundle.html?ref=wdd-hotdeals%27" tppabs="http://www.mightydeals.com/deal/the-beautiful-handwritten-fonts-bundle.html?ref=wdd-hotdeals">
                                                                            <span class="hpi-wrap">
                                                                                <span class="horizontal-post-img-w" style="background-image: url(9fonts.jpg)/*tpa=http://mightydeals.s3.amazonaws.com/alt-teaser-images/2245/9fonts.jpg*/"></span>
                                                                            </span>

                                                                            <span class="hpi-text"><span class="hpi-title">9 Beautiful Handwritten Modern Script Fonts - only $17!</span></span>
                                                                        </a>
                                                                    </div>
                                                                </div>


                                                                <div class="related-horizontal-item">
                                                                    <div class="related-horizontal-content">

                                                                        <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.mightydeals.com/deal/2016-font-design-bundle.html?ref=wdd-hotdeals  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.mightydeals.com/deal/2016-font-design-bundle.html?ref=wdd-hotdeals%27" tppabs="http://www.mightydeals.com/deal/2016-font-design-bundle.html?ref=wdd-hotdeals">
                                                                            <span class="hpi-wrap">
                                                                                <span class="horizontal-post-img-w" style="background-image: url(tomchalky2016.jpg)/*tpa=http://mightydeals.s3.amazonaws.com/alt-teaser-images/2191/tomchalky2016.jpg*/"></span>
                                                                            </span>

                                                                            <span class="hpi-text"><span class="hpi-title">57 Handcrafted Fonts, 230 Textures & 100s of Design Extras - only $29!</span></span>
                                                                        </a>
                                                                    </div>
                                                                </div>


                                                                <div class="related-horizontal-item">
                                                                    <div class="related-horizontal-content">

                                                                        <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.mightydeals.com/deal/85-ink-textures.html?ref=wdd-hotdeals  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.mightydeals.com/deal/85-ink-textures.html?ref=wdd-hotdeals%27" tppabs="http://www.mightydeals.com/deal/85-ink-textures.html?ref=wdd-hotdeals">
                                                                            <span class="hpi-wrap">
                                                                                <span class="horizontal-post-img-w" style="background-image: url(85ink-textures.jpg)/*tpa=http://mightydeals.s3.amazonaws.com/alt-teaser-images/2352/85ink-textures.jpg*/"></span>
                                                                            </span>

                                                                            <span class="hpi-text"><span class="hpi-title">85 High-Quality Ink Textures from Vintage Voyage Design - only $5!</span></span>
                                                                        </a>
                                                                    </div>
                                                                </div>


                                                                <div class="related-horizontal-item">
                                                                    <div class="related-horizontal-content">

                                                                        <a class="horizonta-post-title news-sub-img-lnk" href="javascript:if(confirm(%27http://www.mightydeals.com/deal/multipurpose-ui-bundle.html?ref=wdd-hotdeals  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.mightydeals.com/deal/multipurpose-ui-bundle.html?ref=wdd-hotdeals%27" tppabs="http://www.mightydeals.com/deal/multipurpose-ui-bundle.html?ref=wdd-hotdeals">
                                                                            <span class="hpi-wrap">
                                                                                <span class="horizontal-post-img-w" style="background-image: url(module_84off.png)/*tpa=http://mightydeals.s3.amazonaws.com/alt-teaser-images/2386/module_84off.png*/"></span>
                                                                            </span>

                                                                            <span class="hpi-text"><span class="hpi-title">Multipurpose UI Bundle of 230+ components, 18 Full Templates - $19!</span></span>
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>


                                                    </div>

                                                </div>


                                            </div>

                                        </div>




                                </footer>   <!--footer lien ket FEATURED FREEBIES  &  HOT DEALS-->



                            </div>
                        </div> <!-- article-block-wrap -->
                    </div>
                </div>
            </div>



            <div class="bottom-ads-970x90"></div>

            <div id="fixed-controls">
                <a href="#main-header" class="scroll-to fxc-row" data-tooltip="Scroll to top"><span class="icon-up-small"></span></a>
                <a href="#body-end" class="fxc-row scroll-to" data-tooltip="Scroll to bottom"><span class="icon-down-small"></span></a>
                <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/clicksend-boost-the-marketing-possibilities-for-your-business/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/clicksend-boost-the-marketing-possibilities-for-your-business/%27" tppabs="http://www.webdesignerdepot.com/2016/09/clicksend-boost-the-marketing-possibilities-for-your-business/" data-tooltip="Prev article: ClickSend boost the marketing possibilities for your business" class="fxc-row "><span class="icon-left-small"></span></a>
                <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/2016/09/popular-design-news-of-the-week-september-19-2016-september-25-2016/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/2016/09/popular-design-news-of-the-week-september-19-2016-september-25-2016/%27" tppabs="http://www.webdesignerdepot.com/2016/09/popular-design-news-of-the-week-september-19-2016-september-25-2016/" data-tooltip="Next article: Popular design news of the week: September 19, 2016 - September 25, 2016" class="fxc-row "><span class="icon-right-small"></span></a>
                <a href="#" id="switch-to-serif-btn" class="fxc-row" data-tooltip="Switch to serif font"><span>Aa</span></a>
            </div>




        </div> <!-- content -->

    </div> <!-- content-wrap -->
    <script src="~/Scripts/main.js-v=1475219358.js"></script>
    <script src="~/Scripts/main.js-v=1475218787.js"></script>
</body>

