<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Web Design</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="shortcut icon" href="~/img/wddfavicon2_n.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="~/img/wddfavicon_n.png" />
    <link rel="apple-touch-icon" href="~/img/touch-icon_n.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144_n.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114_n.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72_n.png" />


    <link rel="alternate" type="application/rss+xml" title="Webdesigner Depot RSS Feed" href="http://www.webdesignerdepot.com/feed/" />
    <link rel="pingback" href="http://www.webdesignerdepot.com/xmlrpc.php" />
    <link href="~/Content/12a02424-b77d-4941-bdba-33d1c2d7e25f.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/32c335b3-fc71-4785-8eeb-ef5311ab5c1b.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/8032ead3-f488-48cf-9cc3-1bc12bd2bd47.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/main_next.css-v=1475218787.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/main_next.css-v=1474768142.css" />
    <link href="~/Content/main_next.css-v=1474637425.css" rel="stylesheet" />
    
    <!-- All in One SEO Pack 2.3.9.2 by Michael Torbert of Semper Fi Web Design[122,157] -->
    <script type="text/javascript">
        var ajaxurl = 'http://www.webdesignerdepot.com/wp-admin/admin-ajax.php';
    </script>
    <!-- // end wpfbogp -->
    <link rel="icon" href="~/img/cropped-wdd-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/img/cropped-wdd-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/img/cropped-wdd-180x180.png" />
    <script type="text/javascript">(function(){var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = '~/Scripts/pro.js'/*tpa=http://cdn.buysellads.com/ac/pro.js*/;document.getElementsByTagName('head')[0].appendChild(bsa);})();</script>

    <script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:17005, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="~/Scripts/hotjar-17005.js-sv=3.js";
        b.getElementsByTagName("head")[0].appendChild(c);
    })(window,document);
    </script>
</head>
<body>
    <header id="main-header">
        <div id="main-header-before"></div>

        <div class="content-block">

            <div id="mms-wrap">
                <a class="mms-icon hamburger-to-close mhm-lnk" id="mms-icon-blog" data-list="msml-blog">
                    <span class="hamburger-middle"></span>
                </a>

                <a class="mms-icon grd-to-close mhm-lnk" id="mms-icon-apps" data-list="msml-apps">
                    <span class="grd-line grd-line-top">
                        <span class="grd-middle"></span>
                    </span>

                    <span class="grd-line grd-line-middle">
                        <span class="grd-middle"></span>
                    </span>

                    <span class="grd-line grd-line-bottom">
                        <span class="grd-middle"></span>
                    </span>

                </a>
            </div>


            <div id="header-menu-links">
                <div class="categories-tab-wrap">
                    <a href="index.htm" tppabs="http://www.webdesignerdepot.com/" class="hm-lnk">
                        <span class="livicon" data-color="#fab23a" data-n="align-left"></span>
                        <span class="hm-lb">Blog</span>
                    </a>

                </div>

                <a href="index-6.htm" tppabs="http://www.webdesignerdepot.com/category/freebies" class="hm-lnk">
                    <span class="livicon" data-color="#fab23a" data-n="download"></span>
                    <span class="hm-lb">Freebies</span>
                </a>

                <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/app/  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/app/#/deals%27" tppabs="http://www.webdesignerdepot.com/app#/deals" ui-sref="mightydeals" class="hm-lnk">
                    <span class="livicon" data-color="#fab23a" data-n="tags"></span>
                    <span class="hm-lb">Deals</span>

                </a>

                <a href="javascript:if(confirm(%27http://www.webdesignernews.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignernews.com/%27" tppabs="http://www.webdesignernews.com/" class="hm-lnk" target="_blank">
                    <span class="livicon" data-color="#fab23a" data-n="rocket"></span>
                    <span class="hm-lb">News</span>
                </a>
                <div class="apps-link-wrap">

                    <span class="hm-lnk" id="apps-link">
                        <span class="livicon" data-color="#fab23a" data-n="thumbnails-small"></span>
                        <span class="hm-lb">Apps</span>

                    </span>

                </div>

            </div>


            <a href="index.htm" tppabs="http://www.webdesignerdepot.com/" id="logo">
                <span id="logo-svg-wrap">

                    <svg version="1.1" id="logo_Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="43px" height="36px" viewBox="0 0 106 88.157" enable-background="new 0 0 100.542 83.226" tppabs="http://www.webdesignerdepot.com/new 0 0 100.542 83.226"
                         shape-rendering="geometricPrecision"
                         xml:space="preserve">
                    <path id="logo_svg_path" fill="#fab23a" stroke-width="1" stroke="#fab23a" d="M30.779,87.342c-10.015,0-15.483-5.632-15.814-16.283c-0.115-3.693,1.021-10.996,4.603-19.425l4.601-11.091
	                        c0.991-2.274,1.971-4.424,2.882-6.42c2.838-6.22,4.077-9.091,5.609-13.294c0.249-0.684,0.164-1.371-0.236-1.943
	                        c-0.585-0.834-1.76-1.293-3.313-1.293c-1.165,0-5.265,0.331-9.194,4.565c-2.986,3.218-4.644,6.94-4.544,10.21
	                        c0.023,0.738,0.069,1.364,0.198,2.001c0.449,2.261-0.557,4.408-2.507,5.348c-1.106,0.533-2.107,0.762-3.141,0.762
	                        c-3.528,0-6.446-2.584-6.792-6.012c-0.059-0.598-0.098-1.194-0.115-1.776c-0.095-3.092,0.464-11.025,7.69-17.914
	                        c9.242-8.81,18.947-10.659,25.459-10.659c9.34,0,12.904,2.889,13.145,10.661c0.175,5.717-2.874,14.076-7.505,24.868
	                        c-1.647,3.829-3.695,8.593-5.807,13.938c-2.289,5.871-3.174,9.813-3.056,13.609c0.108,3.591,2.325,5.82,5.781,5.82
	                        c3.916,0,7.334-3.764,11.26-9.417l0.207-0.3l-0.01-0.367c-0.395-14.747,4.203-30.483,10.931-37.421
	                        c2.173-2.245,4.416-3.385,6.659-3.385c4.659,0,7.523,2.661,7.659,7.118c0.387,12.504-7.647,26.511-13.724,35.958l-0.271,0.425
	                        l0.136,0.484c1.25,4.439,3.172,6.689,5.715,6.689c1.964,0,4.925-0.585,7.886-3.379c6.841-6.461,13.163-15.824,13.094-40.379
	                        c-0.031-3.513-1.088-7.324-2.109-11.011c-1.376-4.957-2.672-9.638-0.96-11.985c0.857-1.178,2.507-1.802,5.045-1.907l0.487-0.01
	                        c8.981,0,12.504,10.8,12.791,20.048c0.578,18.808-6.93,39.586-18.685,51.708c-6.172,6.366-12.991,9.731-19.72,9.731
	                        c-5.214,0-9.474-2.862-12.319-8.274l-0.744-1.422l-1.075,1.193C44.775,83.993,38.168,87.342,30.779,87.342" />
                        </svg>

                </span>
            </a>


            <span class="search-ico icon-search blog-search-icon" id="search-f-btn" data-color="#fab23a" data-n="search"></span>

            <form action="http://www.webdesignerdepot.com/" method="get" id="search-form">

                <input type="text" value="" placeholder="Search" id="search-field" ng-model="searchRootTerm" />

                <div class="search-drop-menu">
                    <span class="search-category-label" ng-bind="root.searchCategoryType"></span>
                    <span class="icon-down-dir"></span>


                    <div class="search-options" id="search-options">

                        <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/app/  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/app/#%27" tppabs="http://www.webdesignerdepot.com/app#">
                            <span></span>
                        </a>

                    </div>

                </div>

            </form>



        </div>

    </header>
    <div>
        @RenderBody()
    </div>
    <div id="pre-footer"></div>
    <footer id="footer">
        <div id="footer-before">
        </div>
        <iframe style="display:none;" name="sb-subscribe-form-frame" id="sb-subscribe-form-frame"></iframe>
        <form id="footer-nl" target="sb-subscribe-form-frame" action="http://www.webdesignerdepot.com/newsletter" method="post">
            <div class="content-block">

                <div class="ftnl-left">
                    <div id="join-nl-text"> Join our <span class="jnt-subscribers">855,437</span> subscribers and get access to the latest tools, freebies, product announcements and much more!
                    </div>
                </div>
                <div class="ftnl-right">
                    <div>
                        <input type="text" class="inactive footer-text-field" name="email" id="footer-subscribe-email" value="" placeholder="Your email address...">
                        <!--<input type="submit" class="footer-submit-btn" id="footer-subscribe-btn" value="Subscribe me">-->
                        <button class="footer-submit-btn" id="footer-subscribe-btn" data-text="Subscribe me" data-replacing-text="LET’S DO IT!">Subscribe me</button>

                    </div>

                    <input type="hidden" name="ref" id="ref" value="wddfooter">
                    <input type="hidden" name="ip" id="nl_sb_ip_field" value="">
                    <input type="hidden" name="signupurl" id="signupurl" value="http://www.webdesignerdepot.com/">
                </div>
            </div>
        </form>


        <div id="footer-nav" class="content-block">
            <div class="footer-left">
                <nav id="footer-nav-links">
                    <a href="index.htm" tppabs="http://www.webdesignerdepot.com/">Home</a>
                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/about  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/about%27" tppabs="http://www.webdesignerdepot.com/about">About</a>
                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/categories  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/categories%27" tppabs="http://www.webdesignerdepot.com/categories" id="ft-cats-lnk">Categories</a>
                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/authors  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/authors%27" tppabs="http://www.webdesignerdepot.com/authors">Authors</a>
                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/newsletter  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/newsletter%27" tppabs="http://www.webdesignerdepot.com/newsletter">Newsletter</a>
                    <a class="m-contact-link" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/contact?sm=advertise  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/contact?sm=advertise%27" tppabs="http://www.webdesignerdepot.com/contact?sm=advertise">Advertise</a>
                    <a href="javascript:if(confirm(%27http://www.webdesignerdepot.com/write-for-us  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/write-for-us%27" tppabs="http://www.webdesignerdepot.com/write-for-us">Write for us</a>
                    <a class="m-contact-link" href="javascript:if(confirm(%27http://www.webdesignerdepot.com/contact  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.webdesignerdepot.com/contact%27" tppabs="http://www.webdesignerdepot.com/contact">Contact</a>

                </nav>

                <div id="footer-shares">
                    <a class="fts-label" href="javascript:if(confirm(%27https://www.facebook.com/webdesignerdepot  \n\nThis file was not retrieved by Teleport Pro, because it is addressed using an unsupported protocol (e.g., gopher).  \n\nDo you want to open it from the server?%27))window.location=%27https://www.facebook.com/webdesignerdepot%27" tppabs="https://www.facebook.com/webdesignerdepot">
                        <span class="icon-facebook se-icon">
                            <span class="icon-facebook sei-icon"></span>
                        </span>
                        <span class="fts-count">210,547</span>
                    </a>

                    <a href="javascript:if(confirm(%27http://twitter.com/designerdepot  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://twitter.com/designerdepot%27" tppabs="http://twitter.com/designerdepot" class="fts-label">
                        <span class="icon-twitter se-icon">
                            <span class="icon-twitter sei-icon"></span>
                        </span>
                        <span class="fts-count">612,458</span>
                    </a>

                    <a class="fts-label" href="javascript:if(confirm(%27http://feeds2.feedburner.com/webdesignerdepot?format=html  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://feeds2.feedburner.com/webdesignerdepot?format=html%27" tppabs="http://feeds2.feedburner.com/webdesignerdepot?format=html">
                        <span class="icon-rss se-icon">
                            <span class="icon-rss sei-icon"></span>
                        </span>
                        <span class="fts-count">90,777</span>
                    </a>

                </div>

                <div class="footer-copy">
                    ©  2016-2017 All Rights Reserved
                </div>

            </div>



        </div>
    </footer>
    <script type='text/javascript' src="~/Scripts/wp-embed.min.js-ver=4.6.1.js" tppabs="http://netdna.webdesignerdepot.com/js/wp-embed.min.js?ver=4.6.1"></script>
    <script type='text/javascript' src="~/Scripts/jquery.js-ver=1.12.4.js" tppabs="http://netdna.webdesignerdepot.com/js/jquery/jquery.js?ver=1.12.4"></script>

    <!--Plugin WP Missed Schedule Active - Secured with Genuine Authenticity KeyTag-->
    <!-- This site is patched against a big problem not solved since WordPress 2.5 -->
    <script type='text/javascript' src="~/Scripts/settings.js-v=3.js" tppabs="http://www.webdesignerdepot.com/app/js/settings.js?v=3"></script>
    <script src="~/Scripts/main.js-v=1474768142.js" tppabs="http://www.webdesignerdepot.com/app/js/main.js?v=1474768142"></script>
    <!--[if lt IE 8]>
    <script src="json2.min.js" tppabs="http://www.webdesignerdepot.com/app/js/json2.min.js"></script>
    <![endif]-->
   
    <script type="text/javascript">

            try {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-331696-9']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script');
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
               'http://www/') + '.google-analytics.com/ga.js';
             ga.setAttribute('async', 'true');
             document.documentElement.firstChild.appendChild(ga);
            })();

            } catch(err) {}

    </script>
</body>
</html>
